certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
decorator==4.3.0
idna==2.6
kiwisolver==1.0.1
matplotlib==2.2.2
networkx==2.1
numpy==1.14.3
Pillow==9.0.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
PyWavelets==0.5.2
pyzmq==17.0.0
requests==2.18.4
scikit-image==0.13.1
scipy==1.1.0
six==1.11.0
torch==0.4.0
torchfile==0.1.0
torchvision==0.2.1
tornado==5.0.2
urllib3==1.22
visdom==0.1.8.3
websocket-client==0.47.0
